body {
	font-family: 'Roboto', sans-serif;
}

#footer{
  height: 200px;
}

.circle {
    width:30%;
    height:30%;
    padding-bottom: 30%;
    border-radius:50%;
    font-size:200%;
    line-height:15%;
    text-align:center;
    vertical-align: middle;
    position: relative;
	background: black;
	margin: 1.66%;
	float: left;
	color: black;
	transition: background 1s, color 1s;
	-webkit-transition: background 1s, color 1s;
	-moz-transition: background 1s, color 1s;
}

h1 {
	top: 0;
	left: 0;
	width: 100%;
	line-height: 1.1;
	color: white;
	text-align: center;
	background: black;
	font-weight: 300;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
	position: absolute;
	transition: background 1s;
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
}

.description {
	font-size: 3em;
	color: white;
	background: black;
	font-weight: 300;
	margin: 0 20px;
	padding: 20px;
	transition: background 1s;
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
}

#display {
	font-size: 2em;
	margin: 0 20px;
}

#junior {
	letter-spacing: 0.1em;
}

#container {
	max-width: 700px;
	margin: 20px auto;
	overflow: auto;
}

#gmail {
	font-size: 2.75em;
	letter-spacing: 0.25em;
}

.circle:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

.gh:hover {
  background-color: #913399;
}

.fb:hover {
  background-color: #3b5998;
}

.ln:hover {
  background-color: #0077b5;
}

.contact:hover {
	background-color: #c71610;
}

.projects:hover {
	background-color: #08851b;
}

.about:hover {
	background-color: #f2a60c;
}

.linkText {
 	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

a {
	color: black;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
	color: white;
}
